*.xml
.idea/.name
.idea/pt_secure_2016.iml
.idea/dataSources.ids
.idea/pt_secure_2016.iml
.idea/pt_secure_2016.iml
.idea/pt_secure_2016.iml
.idea/pt_secure_2016.iml
.idea/pt_secure_2016.iml
.idea/pt_secure_2016.iml
.idea/pt_secure_2016.iml
.idea/pt_secure_2016.iml
/frontend/node_modules