@import "./variables";
@import "./mixins";

.btn{
    min-height: 50px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: .85rem;
    letter-spacing: .75px;
    &.custom-button{
        background:$secondary-color;
        color:$color-white;
        padding-left: 2.3rem;
        padding-right: 2.3rem;
        @include responsive(extra-smaller-devices) {
            width: 100%;
        }
    }
    &.search-button{
        @include responsive(extra-smaller-devices) {
            margin-top: 10px;
            width: 100%;
        }
    }
    &.default-button{
        background-color: $default-button;
        color: $secondary-color;
        padding-left: 2.3rem;
        padding-right: 2.3rem;
        @include responsive(extra-smaller-devices) {
            width: 100%;
        }
    }
    &.primary-button{
        background:$primaryColor;
        color:$color-white;
        padding-left: 2.3rem;
        padding-right: 2.3rem;
    }
}
.form-group{
    label{
        margin-bottom: 4px;
        margin-left: 5px;
        font-size: .8rem;
        font-family: $font-varela;
    }
    .form-control{
        min-height: 50px;
        border-color: $secondary-color;
        background: none;
    }
}
.sign-in-form{
    .form-control{
        border-color: inherit;
    }
}
// toggle

.btn-toggle{
    border: 3px solid transparent;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    background: $switch-button;
    transition: background 600ms ease, color 600ms ease;
    font-weight: 700;
    margin-bottom: 0;
    z-index: 0;
    margin: 0 -5px;
    color: $secondary-color;
}

input[type="radio"].toggle {
    display: none;
    & + label{
        cursor: pointer;
        min-width: 130px;
        @include border-radius(8px);
        &:hover{
            color: $dark-gray-color;
        }
        &:after{
            content: "";
            height: 100%;
            position: absolute;
            top: 0;
            transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
            width: 100%;
            z-index: -1;
        }
    }
    &.toggle-left + label {
        border-right: 0;
        &:after{
            left: 100%
        }
    }
    &.toggle-right + label{
        margin-left: -5px;
        &:after{
            left: -100%;
        }
    }
    &:checked + label {
        cursor: default;
        color: $secondary-color;
        background: $color-white;
        transition: color 200ms;
        z-index: 1;
        &:after{
            left: 0;
        }
    }
}
.custom-checkbox {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: .8rem;
    .ui-chkbox{
        .ui-chkbox-box{
            @include border-radius(0);
            &.ui-state-active, &.ui-state-active:not(.ui-state-disabled):hover{
                background:$primaryColor;
                border-color: $primaryColor;
            }
        }
    }
    .checkbox {
        position: relative;
        top: rem(-6);
        margin: 0 1rem 0 0;
        cursor: pointer;
        &:before {
            @include transition(transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75));
            @include transform(rotate(-45deg) scale(0, 0));
            content: "";
            position: absolute;
            z-index: 1;
            width: 11px;
            height: 7px;
            border: 2px solid $primaryColor;
            border-top-style: none;
            border-right-style: none;
            left: 5px;
        }
        &:checked {
            &:before {
                @include transform(rotate(#{-45}deg) scale(1, 1));
            }
        }
        &:after {
            content: "";
            position: absolute;
            top: -6px;
            left: 0;
            width: 22px;
            height: 22px;
            background: #fff;
            border: 1px solid $secondary-color;
            cursor: pointer;
        }
    }
}
select{
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    background:#ffffff url(../img/down.svg) no-repeat 97% center !important;
    -webkit-appearance: none;
    background-position-x: 244px;
}
.modal-content{
    background: $secondary-color;
    color: $color-white;
    padding: 1.2rem 1.2rem 2rem;
    .modal-header{
        border: none;
        padding: 0;
        .close{
            color: $color-white;
            text-shadow: none;
        }
       
    }
    .form-group{
        .form-control{
            border-color: $color-white;
        }
    }
}
