// colors
$color-white:#ffffff;
$primaryColor:#28CE85;
$text-color:#009F56;
$list-header-bg:#009F56;
$secondary-color:#392947;
$color-black:#000000;
$shadow-color:#e6e6e6;
$shadow-dark:#b9b9b9;
$gray-color:#F2F0F4;
$content-text-color:#616161;
$high-light-color:#392947;
$default-button:#E9EAEB;
$switch-button:#C4C4C4;
$dark-gray-color:#424242;
$inner-gray:#e5e5e5;

// font
$font-noto-sans:'Noto Sans', sans-serif;
$font-varela:'Varela Round', sans-serif;
