@import "./variables";
@import "./mixins";
@import "./form-elements";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
    background: $color-white;
    font-family: $font-noto-sans;
    color: $content-text-color;
    section {
        h2 {
            color: $high-light-color;
        }
    }
    .big-title {
        font-size: 4rem;
        letter-spacing: -1px;
        color: $text-color;
        font-weight: 700;
        @include responsive(extra-smaller-devices) {
            font-size: 2rem;
            margin: 2rem 0 1.4rem !important;
            &.mobile-mb {
                margin-bottom: 0.2rem !important;
            }
        }
    }
    .medium-title {
        font-size: 18px;
    }
    .small-title {
        font-size: 14px;
    }
    .pt-200 {
        padding-top: 200px;
    }
    .pt-150 {
        padding-top: 150px;
    }
    .pb-150 {
        padding-bottom: 150px;
    }
    .pt-100 {
        padding-top: 100px;
    }
    .pb-100 {
        padding-bottom: 100px;
    }
    .pt-50 {
        padding-top: 50px;
    }
    .pb-50 {
        padding-bottom: 50px;
    }
    .mt-60 {
        margin-top: 60px;
    }
    .caption-text {
        font-family: $font-varela;
        letter-spacing: 0.4px;
    }
    .navbar-toggler {
        .navbar-toggler-icon {
            background-image: none !important;
        }
        &:focus {
            outline: none;
        }
    }
    #mainNav {
        .sign-in-button {
            font-size: 0.8rem;
            color: $color-white;
            cursor: pointer;
            font-weight: 700;
            background: none;
            border: none;
            &:focus{
                outline: none;
            }
        }
        &.navbar-shrink {
            border-color: rgba(34, 34, 34, 0.1);
            background-color: $primaryColor;
            @include box-shadow(0px, 4px, 8px, $primaryColor);
        }
        li,
        .navbar-nav {
            align-items: center;
            margin-right: 1.5rem;
            text-align: center;
            @include responsive(extra-smaller-devices) {
                margin-right: 0;
            }
            a {
                color: $color-white;
                font-weight: 700;
                @include responsive(extra-smaller-devices) {
                    font-size: 1rem;
                }
                &.dropdown-item {
                    color: $secondary-color;
                    font-size: 0.9rem;
                }
            }
        }
        .user-avatar {
            @include responsive(extra-smaller-devices) {
                position: absolute;
                top: 15px;
                right: 0;
            }

            .nav-link {
                padding: 0;
                &.dropdown-toggle {
                    &::after {
                        opacity: 0;
                    }
                }
            }

            .dropdown-menu {
                left: auto;
                right: 0;
            }
        }
        @include responsive(extra-smaller-devices) {
            .navbar-toggler {
                position: absolute;
                border: none;
                color: $color-white;
                top: 10px;
                left: 0;
            }
            .navbar-brand {
                height: 30px;
                img {
                    max-height: 100%;
                }
            }
        }
        .mobile-view {
            margin: auto;
            line-height: 0;
        }
        .navbar-collapse {
            &.show {
                background: $secondary-color;
                padding: 1rem 0.6rem;
                .dropdown-menu {
                    color: $color-white;
                    background: none;
                    border: none;
                    text-align: center;
                    a {
                        color: $color-white;
                    }
                }
            }
        }
    }
    .header {
        background: $primaryColor url(../img/banner-bg.png) no-repeat center center;
        height: 509px;
        @include responsive(extra-smaller-devices) {
            height: 300px;
            background-size: cover;
        }
        @include responsive(smaller-devices) {
            height: 509px;
        }
        @include responsive(medium-devices) {
        }
        @include responsive(medium-devices-landscape) {
        }
        @include responsive(large-devices) {
        }
        @include responsive(extra-large-devices) {
        }

        .header-content {
            .banner-content {
                width: 630px;
                @include responsive(extra-smaller-devices) {
                    width: 100%;
                    .text-center {
                        text-align: left !important;
                    }
                }
                @include responsive(smaller-devices) {
                    width: 90%;
                }
                @include responsive(medium-devices) {
                    width: 600px;
                }
                @include responsive(medium-devices-landscape) {
                }
                @include responsive(large-devices) {
                    width: 666px;
                }
                @include responsive(extra-large-devices) {
                }
                h1 {
                    color: $color-white;
                    font-weight: 700;
                    font-size: 3.3rem;
                    text-transform: capitalize;
                    @include responsive(extra-smaller-devices) {
                        font-size: 1.4rem;
                    }
                    @include responsive(smaller-devices) {
                        font-size: 2.3rem;
                    }
                    @include responsive(medium-devices) {
                        font-size: 2.5rem;
                    }
                    @include responsive(medium-devices-landscape) {
                    }
                    @include responsive(large-devices) {
                        font-size: 3.3rem;
                    }
                    @include responsive(extra-large-devices) {
                    }
                }
                p {
                    font-size: 1.2rem;
                    color: $secondary-color;
                    font-family: $font-varela;
                    @include responsive(extra-smaller-devices) {
                        font-size: 0.9rem;
                    }
                    @include responsive(smaller-devices) {
                        font-size: 1.2rem;
                    }
                    @include responsive(medium-devices) {
                    }
                    @include responsive(medium-devices-landscape) {
                    }
                    @include responsive(large-devices) {
                    }
                    @include responsive(extra-large-devices) {
                    }
                }
            }
        }
    }
    // nav-only
    .navbar-green {
        background-color: $primaryColor;
        @include box-shadow(0px, 4px, 8px, $shadow-dark);
        li {
            align-items: center;
            margin-right: 1.5rem;
            text-align: center;
            a {
                color: $color-white !important;
                font-weight: 700;
                &.dropdown-item {
                    color: $secondary-color !important;
                    font-size: 0.9rem;
                }
            }
        }
        .user-avatar {
            @include responsive(extra-smaller-devices) {
                position: absolute;
                top: 15px;
                right: 0;
            }

            .nav-link {
                padding: 0;
                &.dropdown-toggle {
                    &::after {
                        opacity: 0;
                    }
                }
            }

            .dropdown-menu {
                left: auto;
                right: 0;
            }
        }
        @include responsive(extra-smaller-devices) {
            .navbar-toggler {
                position: absolute;
                border: none;
                color: $color-white;
                top: 10px;
                left: 0;
                padding: 0;
            }
            .navbar-brand {
                height: 30px;
                img {
                    max-height: 100%;
                }
            }
        }
        .mobile-view {
            margin: auto;
        }
        .navbar-collapse {
            &.show {
                background: $primaryColor;
            }
        }
    }
    .back-button {
        color: $text-color;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1.3rem;
        @include responsive(extra-smaller-devices) {
            display: none;
        }
        .back-arrow {
            width: 24px;
            height: 24px;
            display: flex;
            background-color: $text-color;
            align-items: center;
            justify-content: center;
            padding: 3px;
            @include border-radius(50%);
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    .title-wrap {
        max-width: 550px;
        @include responsive(extra-smaller-devices) {
            max-width: auto;
        }
    }
    .register-confirmation {
        .content-wrapper {
            max-width: 400px;
            margin: 1.2rem 0;
            .member-age {
                width: 180px;
                font-weight: 400;
            }
            .rounded-button {
                width: 25px;
                height: 25px;
                @include border-radius(50%);
                color: $color-white;
                border: 1px solid transparent;
                background: $text-color;
                font-size: 1.3rem;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 0;
                &:focus {
                    outline: none;
                }
                span {
                    margin-top: -2px;
                }
            }
            .member-count {
                border: 0;
                width: 60px;
                font-weight: 700;
                text-align: center;
            }
            .custom-button {
                min-width: 220px;
            }
            @include responsive(extra-smaller-devices) {
                max-width: auto;
            }
            .pantry-name {
                font-family: $font-varela;
                font-size: 0.85rem;
            }
            .time-wrapper,
            .address-wrapper {
                font-size: 0.85rem;
            }
            .time-value {
                font-size: 1rem;
            }
            .distance {
                width: 150px;
                font-family: $font-varela;
            }
            &.event-details {
                font-size: 0.9rem;
                font-family: $font-varela;
            }
            &.page-info-wrap {
                font-size: 0.8rem;
                p {
                    margin-bottom: 8px;
                }
            }
            .form-title {
                font-weight: 700;
                font-size: 1.1rem;
                color: $secondary-color;
                padding-left: 5px;
                margin-bottom: 10px;
            }
            .form-sub-title {
                font-size: 0.8rem;
                color: $secondary-color;
                padding-left: 5px;
            }
            .form-text {
                padding-left: 5px;
                font-size: 0.8rem;
            }
            .add-new-vehicle {
                font-size: 0.8rem;
                display: flex;
                padding-left: 5px;
                .add-button {
                    width: 16px;
                    height: 16px;
                    padding: 3px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $text-color;
                    margin-right: 5px;
                }
            }
        }
        .address-details {
            font-size: 0.85rem;
            letter-spacing: 1px;
            font-family: $font-varela;
        }
        .medium-title,
        .small-title {
            color: $secondary-color;
        }
    }

    .item-icon {
        height: 66px;
        width: 66px;
        margin-bottom: 1.8rem;
        margin-left: auto;
        margin-right: auto;
        flex-shrink: 0;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .item-details {
        h4 {
            color: $text-color;
            font-size: 1.2rem;
            font-weight: 700;
        }
    }
    .search-area {
        width: 80%;
        min-width: 600px;
        min-height: 130px;
        background: $color-white;
        @include border-radius(8px);
        @include box-shadow(0px, 4px, 8px, $shadow-color);
        margin-top: -220px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        padding: 2rem;
        @include responsive(extra-smaller-devices) {
            width: 100%;
            min-width: auto;
            padding: 1.5rem;
            margin-top: -140px;
        }
        @include responsive(smaller-devices) {
            width: 90%;
            min-width: auto;
        }
        @include responsive(medium-devices) {
            min-width: 600px;
            width: auto;
            max-width: 900px;
        }
        @include responsive(medium-devices-landscape) {
        }
        @include responsive(large-devices) {
        }
        @include responsive(extra-large-devices) {
        }
        .form-group {
            margin-right: 10px;
            margin-bottom: 0;
            &:last-child {
                margin-right: 0;
            }
            &.zip-code {
                width: 100%;
            }
        }
        .search-results {
            padding: 20px 0;
            margin-top: 10px;
            font-size: 0.8rem;

            .search-list-logo {
                height: 34px;
                img {
                    max-height: 100%;
                }
            }
            .search-list-title {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 0.9rem;
                color: $secondary-color;
            }
        }
    }
    .search-results-list {
        .form-group {
            margin-bottom: 0;
        }
    }
    .gray-bg {
        background: $gray-color;
    }
    .gray-bg-inner {
        background: $inner-gray;
    }
    .footer {
        &.footer-bg {
            background: $secondary-color;
            color: $color-white;
            .footer-logo {
                height: 40px;
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
        .list-title {
            font-weight: 700;
            font-size: 0.9rem;
            display: block;
            @include responsive(extra-smaller-devices) {
                margin: 30px 0 5px;
            }
        }
        .copy-right {
            font-size: 0.7rem;
            text-align: right;
            @include responsive(extra-smaller-devices) {
                text-align: center;
                margin-top: 30px;
            }
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            font-family: $font-varela;
            li {
                padding: 5px 0;
                letter-spacing: 0.4px;
                a {
                    color: $color-white;
                    font-size: 0.85rem;
                    text-decoration: underline;
                }
            }
        }
        @include responsive(extra-smaller-devices) {
            text-align: center;
        }
    }
    .day-view {
        .day-view-title {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 0.9rem;
            color: $color-black;
        }
        .day-view-item {
            @include border-radius(8px);
            background: $color-white;
            @include box-shadow(0px, 4px, 8px, $shadow-color);
            margin-bottom: 15px;
            .custom-button,
            .default-button {
                padding-left: inherit;
                padding-right: inherit;
            }
            .day-view-item-header {
                background-color: $list-header-bg;
                color: $color-white;
                padding: 1rem;
                border-radius: 8px 8px 0 0;
                .day-view-header-title {
                    font-size: 1.1rem;
                    font-weight: 700;
                    padding: 0 0 0.2rem 0;
                    @include truncate(100%);
                    @include responsive(extra-smaller-devices) {
                        white-space: normal;
                        overflow: auto;
                    }
                }
                .day-view-item-location {
                    font-size: 0.7rem;
                    .day-view-item-name {
                        flex-grow: 1;
                        @include truncate(100%);
                        font-family: $font-varela;
                    }
                    .day-view-item-distance {
                        width: 70px;
                        text-align: right;
                        font-family: $font-varela;
                    }
                }
            }
            .day-view-item-details {
                padding: 1rem;

                .registration-required {
                    margin: 5px 0;
                    .registration-required-label {
                        padding: 6px;
                        @include border-radius(10px);
                        background-color: $gray-color;
                        color: $text-color;
                        font-size: 0.7rem;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                }
                .timings {
                    font-size: 0.85rem;
                    margin: 10px 0;
                    font-family: $font-varela;
                }
                .address-wrap {
                    font-size: 0.75rem;
                    max-width: 150px;
                    margin: 0.5rem 0;
                    font-family: $font-varela;
                }
            }
            .day-view-more {
                color: $secondary-color;
                font-weight: 500;
                font-size: 0.8rem;
                font-family: $font-varela;
            }
            @include responsive(extra-smaller-devices) {
            }
            @include responsive(smaller-devices) {
            }
            @include responsive(medium-devices) {
            }
            @include responsive(medium-devices-landscape) {
            }
            @include responsive(large-devices) {
            }
            @include responsive(extra-large-devices) {
            }
        }
    }
    @include responsive(extra-smaller-devices) {
        .mobile-text-left {
            text-align: left !important;
            margin-bottom: 1rem !important;
        }
        h2,
        .h2 {
            font-size: 1.3rem;
        }
        .mobile-flex {
            display: flex;
            text-align: left;
            .item-icon {
                margin-right: 10px;
                width: 40px;
                height: 40px;
            }
        }
        .pt-150 {
            padding-top: 50px;
        }
        .pt-150 {
            padding-bottom: 50px;
        }
        .pt-100 {
            padding-top: 50px;
        }
        .pt-100 {
            padding-bottom: 50px;
        }
    }
}
